# Random data functions

In [1]:
import random
from random import randrange
import string
from br_nome_gen import pessoa_random
from datetime import timedelta
from datetime import datetime
import pytz
import pandas as pd
import psycopg2


dt_str1 = "27/09/22"
dt_str2 = "01/01/23"
d1 = datetime.strptime(dt_str1, '%d/%m/%y')
d2 = datetime.strptime(dt_str2, '%d/%m/%y')


def random_date(start, end):
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = (int_delta)
    dia = start + timedelta(seconds=random_second)
    return dia.astimezone(pytz.UTC)


def random_cpf():
    cpf = [random.randint(0, 9) for x in range(9)]

    for _ in range(2):
        val = sum([(len(cpf) + 1 - i) * v for i, v in enumerate(cpf)]) % 11

        cpf.append(11 - val if val > 1 else 0)

    return '%s%s%s.%s%s%s.%s%s%s-%s%s' % tuple(cpf)


def random_cnpj():
    def calculate_special_digit(l):
        digit = 0

        for i, v in enumerate(l):
            digit += v * (i % 8 + 2)

        digit = 11 - digit % 11

        return digit if digit < 10 else 0

    cnpj = [1, 0, 0, 0] + [random.randint(0, 9) for x in range(8)]

    for _ in range(2):
        cnpj = [calculate_special_digit(cnpj)] + cnpj

    return '%s%s.%s%s%s.%s%s%s/%s%s%s%s-%s%s' % tuple(cnpj[::-1])


def random_cel():
    ddd = [68, 82, 96, 92, 97, 71, 73, 74, 75, 77, 85, 88, 61, 27, 28, 62, 64, 98, 99, 65, 66, 67, 31, 32, 33, 34, 35, 37, 38, 91, 93, 94, 83,
    41, 42, 43, 44, 45, 46, 81, 87, 86, 89, 21, 22, 24, 84, 51, 53, 54, 55, 69, 95, 47, 48, 49, 11, 12, 13, 14, 15, 16, 17, 18, 19, 79, 63]

    listaCel = [uni_duni(ddd), 9]
    listaCel.append(random.randint(8, 9))

    for i in range(1, 8):
        listaCel.append(random.randint(0, 9))

    listaCel = [str(x) for x in listaCel]
    cel = "".join(listaCel)
    return cel


def random_string(size=5, chars=string.ascii_lowercase):
    return ''.join(random.choice(chars) for _ in range(size))


def random_email(size=5, chars=string.ascii_lowercase):
    return ''.join(random.choice(chars) for _ in range(size))+"@email.com"


def random_name():
    p = pessoa_random()
    return p.nome


def random_boolean():
    rb = random.choice([True, False])
    return rb


def uni_duni(lst):
    te = random.choice(lst)
    return te

def sendList(x):
    nomes = [random_name() for i in range(0,x)]
    email = [random_email() for i in range(0,x)]
    fones =  [random_cel() for i in range(0,x)]
    cpf = [random_cpf() for i in range(0,x)]
    return [nomes, email, fones, cpf]

# Random send list n size

In [2]:
df_list = []
number = 300

df = pd.DataFrame(sendList(number))

df = df.transpose()
df.columns = ["nome", "email", "fone", "cpf/cnpj"]
df[ "data de nascimento(DD/MM/AAAA)"] = ""

df["nome"] = df["nome"].replace("'","")

df.to_excel(f"lista-{number}.xlsx", index=False)
df

,nome,email,fone,cpf/cnpj,data de nascimento(DD/MM/AAAA)
0,Isaías Abílio de Oliveira Branco Gomes,lyuhf@email.com,41991976534,653.611.226-10,
1,Caroline de Pereira,wgqvi@email.com,34990794291,218.540.596-96,
2,Lúcio Wellington Quaosovic Uturoson Neto,vqrsv@email.com,43999084515,286.591.768-12,
3,Marina Quitéria Somma,bxzeh@email.com,14997549707,757.045.086-85,
4,Lara Vera Cavalcante,xthfd@email.com,71996172555,912.510.394-64,
...,...,...,...,...,...
295,Melissa Dorios de Monteiro do Rio,newah@email.com,93983467629,491.612.899-06,
296,Juan do Prado dos Santos,msalc@email.com,45985199924,901.506.517-91,
297,Maísa de Vieira,nmaop@email.com,75985857187,995.471.881-86,
298,Hércules Marcelo de Queiroz Rena,idzsj@email.com,69980291404,239.127.013-50,
299,Kim Hélio Vlouan Iaer,hnbyz@email.com,42981129758,743.622.361-55,